<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iot.login.dao.UserLoginMapper" >

    <update id="updateLoginDate" parameterType="com.iot.login.entity.UserLogin">
        update user_login set login_date=#{loginDate} where id=#{id}
    </update>

</mapper>